MONGODB_URI=mongodb+srv://kullanici:sifre@cluster.xxxxx.mongodb.net/temiziz?retryWrites=true&w=majority
JWT_SECRET=temiziz-super-secret-key-2026
PORT=3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
